* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.container {
    padding: 5px 0px;
    margin-top: 5%;
    position: relative;
}

header .bg-img {
    background-image: url("../img/design1_image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-position-x: center;
    background-position-y: 20%;
}

header h1 {
    font-size: 3.5em;
    position: absolute;
    top: -22%;
}

header span {
    background-color: black;
    display: block;
    padding: 10px;
}

header span h2{
    display: block;
    color: white;
    text-align: center;
}

header .wrapper__logo {
    background-color: white;
    border: 2px solid rgb(228, 215, 215) ;
    display: inline-block;
    position: absolute;
    bottom:-50%;
    left: 1%;
    height: ;
}

header .logo {
    width: 100px;
    margin: 10px;
}

nav {
    height: 100vh;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: -15%;
    right: -2%;
}

nav a {
    display: inline-block;
    color: white;
    background-color: steelblue;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    width: 120px;
    margin: 25px;
    margin-bottom: 40px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

nav .active {
    background-color: rgb(131, 204, 59);
}

main > section {
    padding: 20px;
    display: inline-block;
    position: absolute;
    margin-left: 15%;
}

main > section p {
    margin: 15px;
    text-indent: 1em;
}