* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

html {
    background-color: rgba(209, 132, 32, 0.85);
}

.container {
    padding: 5px 1px;
    margin-top: 5%;
    position: relative;
}

header .bg-img {
    background-image: url("../img/design1_image2.jpg");
    filter: grayscale(20%);
    filter: contrast(130%);
    filter:sepia(50%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-position-x: center;
    background-position-y: 20%;
    -webkit-filter:sepia(50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header h1 {
    font-size: 3.5em;
    position: absolute;
    top: -22%;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

header span {
    background-color: black;
    display: block;
    padding: 10px;
}

header span h2{
    display: block;
    color: white;
    text-align: center;
}

header .wrapper__logo {
    background-color: white;
    border: 2px solid rgb(228, 215, 215) ;
    display: inline-block;
    position: absolute;
    bottom:-50%;
    left: 1%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

header .wrapper__logo:hover {
    transform: scale(110%);
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
    cursor: pointer;
}

header .logo {
    width: 100px;
    margin: 10px;
}

nav {
    height: 100vh;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: -15%;
    right: -2%;
}

nav a {
    display: inline-block;
    color: white;
    background-color: steelblue;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    width: 120px;
    margin: 25px;
    margin-bottom: 40px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .5s ease-in-out ;
    -webkit-transition: all .5s ease-in-out ;
    -moz-transition: all .5s ease-in-out ;
    -ms-transition: all .5s ease-in-out ;
    -o-transition: all .5s ease-in-out ;
}

nav a:hover {
    transform: scale(110%);
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
}

nav .active {
    background-color: rgb(131, 204, 59);
}

main > section {
    padding: 20px;
    display: inline-block;
    position: absolute;
    margin-left: 15%;
}

main > section p {
    margin: 15px;
    text-indent: 1em;
}